<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Media Bridge"
    Manufacturer="Media Bridge"
    Version="$(var.ProductVersion)"
    UpgradeCode="9E5C5B7A-1E6D-4D9D-9A40-0E5D0B7E3E21"
    Scope="perUserOrMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer Media Bridge version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Media Bridge" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Media Bridge" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Files Include="$(var.PayloadDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
